apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cloudflare
  namespace: external-dns
spec:
  refreshInterval: 0s
  secretStoreRef:
    name: bitwarden
    kind: ClusterSecretStore
  data:
  - secretKey: token
    remoteRef:
      key: 3e9913dc-4ee1-451b-9b26-b3b80162547d
