provider:
  name: cloudflare
env:
- name: CF_API_TOKEN
  valueFrom:
    secretKeyRef:
      name: cloudflare
      key: token
extraArgs:
  zone-id-filter: e8bcf096e850ddfa73d5ff9e0be256d7
image:
  tag: v0.19.0
sources:
- gateway-httproute
