cluster:
  network:
    cni:
      name: none
  proxy:
    disabled: true
  extraManifests:
  - https://github.com/kubernetes-sigs/gateway-api/releases/download/${GATEWAY_API_VERSION}/standard-install.yaml
machine:
  install:
    disk: /dev/sda
    image: ${INSTALLER_URL}
  network:
    hostname: ${HOSTNAME}
    nameservers:
    - 1.1.1.1
    - 8.8.8.8
