kind: PersistentVolume
apiVersion: v1
metadata:
  name: prowlarr
spec:
  accessModes:
  - ReadWriteOnce
  capacity:
    storage: 1Gi
  csi:
    driver: csi.proxmox.sinextra.dev
    volumeAttributes:
      storage: lvm
    volumeHandle: homelab/pve2/local-lvm/vm-9999-prowlarr
  storageClassName: proxmox-retain
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: prowlarr
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: proxmox-retain
  volumeName: prowlarr
