apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: home-assistant
spec:
  parentRefs:
  - name: traefik
    namespace: traefik
  hostnames:
  - haos.cecobask.com
  rules:
  - backendRefs:
    - name: home-assistant
      port: 8123
