args:
- --kubelet-insecure-tls
image:
  repository: registry.k8s.io/metrics-server/metrics-server
  tag: v0.8.0
metrics:
  enabled: true
resources:
  requests:
    cpu: 20m
    memory: 100Mi
serviceMonitor:
  enabled: true
tls:
  certManager:
    existingIssuer:
      enabled: true
      kind: ClusterIssuer
      name: internal-ca
  type: cert-manager
