cluster:
  extraManifests:
  - https://raw.githubusercontent.com/cecobask/homelab/refs/heads/main/terraform/talos/config/cilium.yaml
  network:
    cni:
      name: none
  proxy:
    disabled: true
machine:
  install:
    disk: /dev/sda
    image: ${installer_url}
  nodeLabels:
    topology.kubernetes.io/region: ${cluster_name}
    topology.kubernetes.io/zone: ${node_name}
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: ${hostname}
auto: off
---
apiVersion: v1alpha1
kind: ResolverConfig
nameservers:
- address: 1.1.1.1
- address: 8.8.8.8
