cluster:
  network:
    cni:
      name: none
  proxy:
    disabled: true
machine:
  install:
    disk: /dev/sda
    image: ${installer_url}
  network:
    hostname: ${hostname}
    nameservers:
    - 1.1.1.1
    - 8.8.8.8
  nodeLabels:
    topology.kubernetes.io/region: ${cluster_name}
    topology.kubernetes.io/zone: ${node_name}
