cluster:
  controllerManager:
    extraArgs:
      bind-address: 0.0.0.0
  scheduler:
    extraArgs:
      bind-address: 0.0.0.0
machine:
  network:
    interfaces:
    - interface: eth0
      vip:
        ip: ${vip}
  certSANs:
  - ${vip}
