kind: PersistentVolume
apiVersion: v1
metadata:
  name: jellyfin
spec:
  accessModes:
  - ReadWriteOnce
  capacity:
    storage: 10Gi
  csi:
    driver: csi.proxmox.sinextra.dev
    volumeHandle: homelab/pve2/local-lvm/vm-9999-jellyfin
  storageClassName: proxmox-retain
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: jellyfin
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: proxmox-retain
  volumeName: jellyfin
