{{- if .Values.persistence.enabled -}}
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: "restic-{{ .Values.name }}"
spec:
  data:
  - secretKey: backblazeAccountID
    remoteRef:
      key: {{ .Values.persistence.backup.backblazeAccountID }}
  - secretKey: backblazeAccountKey
    remoteRef:
      key: {{ .Values.persistence.backup.backblazeAccountKey }}
  - secretKey: resticPassword
    remoteRef:
      key: {{ .Values.persistence.backup.resticPassword }}
  - secretKey: resticRepository
    remoteRef:
      key: {{ .Values.persistence.backup.resticRepository }}
  refreshInterval: 0s
  {{- with .Values.secretStoreRef }}
  secretStoreRef:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  target:
    deletionPolicy: Delete
    template:
      data:
        B2_ACCOUNT_ID: '{{ "{{ .backblazeAccountID }}" }}'
        B2_ACCOUNT_KEY: '{{ "{{ .backblazeAccountKey }}" }}'
        RESTIC_PASSWORD: '{{ "{{ .resticPassword }}" }}'
        RESTIC_REPOSITORY: 's3:{{ "{{ .resticRepository }}" }}/volsync/{{ .Values.name }}'
---
apiVersion: volsync.backube/v1alpha1
kind: ReplicationSource
metadata:
  name: {{ .Values.name }}
spec:
  restic:
    copyMethod: Snapshot
    {{- with .Values.securityContext }}
    moverSecurityContext:
      {{- toYaml . | nindent 6 }}
    {{- end }}
    pruneIntervalDays: 1
    repository: "restic-{{ .Values.name }}"
    retain:
      daily: 3
    storageClassName: {{ .Values.persistence.storageClassName }}
    volumeSnapshotClassName: {{ .Values.persistence.volumeSnapshotClassName }}
  sourcePVC: "config-{{ .Values.name }}-0"
  trigger:
    schedule: 0 3 * * *
---
apiVersion: volsync.backube/v1alpha1
kind: ReplicationDestination
metadata:
  name: {{ .Values.name }}
spec:
  restic:
    {{- with .Values.persistence.accessModes }}
    accessModes:
    {{- toYaml . | nindent 4 }}
    {{- end }}
    capacity: {{ .Values.persistence.capacity }}
    cleanupCachePVC: true
    cleanupTempPVC: true
    copyMethod: Snapshot
    enableFileDeletion: true
    {{- with .Values.securityContext }}
    moverSecurityContext:
      {{- toYaml . | nindent 6 }}
    {{- end }}
    repository: "restic-{{ .Values.name }}"
    storageClassName: {{ .Values.persistence.storageClassName }}
    volumeSnapshotClassName: {{ .Values.persistence.volumeSnapshotClassName }}
  trigger:
    manual: once
{{- end }}
