{{- if .Values.persistence.enabled -}}
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: "restic-{{ .Values.name }}"
spec:
  data:
  - secretKey: backblazeAccountID
    remoteRef:
      key: {{ .Values.persistence.backup.backblazeAccountID }}
  - secretKey: backblazeAccountKey
    remoteRef:
      key: {{ .Values.persistence.backup.backblazeAccountKey }}
  - secretKey: backblazeRepository
    remoteRef:
      key: {{ .Values.persistence.backup.backblazeRepository }}
  - secretKey: resticPassword
    remoteRef:
      key: {{ .Values.persistence.backup.resticPassword }}
  {{- with .Values.secretStoreRef }}
  secretStoreRef:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  target:
    deletionPolicy: Delete
    template:
      data:
        B2_ACCOUNT_ID: '{{ "{{ .backblazeAccountID }}" }}'
        B2_ACCOUNT_KEY: '{{ "{{ .backblazeAccountKey }}" }}'
        RESTIC_PASSWORD: '{{ "{{ .resticPassword }}" }}'
        RESTIC_REPOSITORY: '{{ "{{ .backblazeRepository }}" }}/{{ .Values.name }}'
{{- end }}
