alertmanager:
  enabled: false
defaultRules:
  create: false
grafana:
  enabled: false
kubeProxy:
  enabled: false
prometheus:
  prometheusSpec:
    scrapeClasses:
    - name: cluster
      relabelings:
      - action: replace
        regex: (.*)
        replacement: homelab
        sourceLabels: [ __name__ ]
        targetLabel: cluster
    nodeSelector:
      topology.kubernetes.io/zone: pve1
    serviceMonitorSelectorNilUsesHelmValues: false
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: proxmox
          accessModes:
          - ReadWriteOnce
          resources:
            requests:
              storage: 30Gi
cleanPrometheusOperatorObjectNames: true
fullnameOverride: prometheus
kube-state-metrics:
  fullnameOverride: kube-state-metrics
prometheusOperator:
  fullnameOverride: prometheus-operator
prometheus-node-exporter:
  fullnameOverride: prometheus-node-exporter
