apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: restic-bazarr
spec:
  refreshInterval: 24h
  secretStoreRef:
    name: bitwarden
    kind: ClusterSecretStore
  data:
  - secretKey: AWS_ACCESS_KEY_ID
    remoteRef:
      key: a8ee4e06-80ae-47ca-a7fb-b3b801648720
  - secretKey: AWS_SECRET_ACCESS_KEY
    remoteRef:
      key: a41dc5df-00eb-4d82-8aa4-b3b80164f3a4
  - secretKey: RESTIC_PASSWORD
    remoteRef:
      key: fc256235-0bc9-4494-9568-b3b801637cf8
  - secretKey: RESTIC_REPOSITORY
    remoteRef:
      key: a41dc5df-00eb-4d82-8aa4-b3b80164f3a4
---
apiVersion: volsync.backube/v1alpha1
kind: ReplicationSource
metadata:
  name: bazarr
spec:
  sourcePVC: config-bazarr-0
  trigger:
    schedule: "0 3 * * *"
  restic:
    copyMethod: Snapshot
    pruneIntervalDays: 1
    repository: restic-bazarr
    retain:
      daily: 3
    storageClassName: proxmox
    volumeSnapshotClassName: proxmox
---
apiVersion: volsync.backube/v1alpha1
kind: ReplicationDestination
metadata:
  name: bazarr
spec:
  trigger:
    manual: once
  restic:
    accessModes:
    - ReadWriteOnce
    capacity: 1Gi
    cleanupCachePVC: true
    cleanupTempPVC: true
    copyMethod: Snapshot
    enableFileDeletion: true
    moverSecurityContext:
      runAsUser: 65534
      runAsGroup: 65534
      fsGroup: 65534
      fsGroupChangePolicy: OnRootMismatch
    repository: restic-bazarr
    storageClassName: proxmox
    volumeSnapshotClassName: proxmox
