apiVersion: v1
kind: PersistentVolume
metadata:
  name: media
  namespace: media
spec:
  capacity:
    storage: 100Gi
  accessModes:
  - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  nfs:
    server: nas.cecobask.com
    path: /var/nfs/shared/media
  mountOptions:
  - nfsvers=3
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: media
  namespace: media
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 100Gi
  volumeName: media
