affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
      - matchExpressions:
        - key: node-role.kubernetes.io/control-plane
          operator: Exists
controller:
  attacher:
    image:
      repository: registry.k8s.io/sig-storage/csi-attacher
      tag: v4.10.0
  provisioner:
    image:
      repository: registry.k8s.io/sig-storage/csi-provisioner
      tag: v5.3.0
  resizer:
    image:
      repository: registry.k8s.io/sig-storage/csi-resizer
      tag: v1.14.0
node:
  driverRegistrar:
    image:
      repository: registry.k8s.io/sig-storage/csi-node-driver-registrar
      tag: v2.15.0
existingConfigSecret: csi-proxmox
tolerations:
- key: node-role.kubernetes.io/control-plane
  effect: NoSchedule
