affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
      - matchExpressions:
        - key: node-role.kubernetes.io/control-plane
          operator: Exists
existingConfigSecret: csi-proxmox
node:
  plugin:
    resources:
      requests:
        cpu: 10m
        memory: 96Mi
tolerations:
- key: node-role.kubernetes.io/control-plane
  effect: NoSchedule
