apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: cloudflare
  namespace: cert-manager
spec:
  encryptedData:
    token: AgBEfmJXVCAS9fZvNNmD3EL4V4Cu5M4WNEXFyJoetSCFgKDIeWWk6binB/fm9PXdnEXwlXKTsHIsBdt3OfOLIzQn+uHRXF/ZedfCxKobaOzWLYP84qdzEfi84T00AFcuD4ZXB6bZES4VKjmEpC5cR0junPAtQgoRIeKLkLHE251dciVQ8aor8gklxgCMlAv92SoLEy1QEKwf4pd7D/S6sP4cfZyL0lPvLo6NRA56irmJwRptxY2XYGh77c507Qd9BZYXopH8al1366ztu05IuwDRaP00IB2Xhjcrrks4tm2hS1Jb4T+8E2n+L6BDbLDQLph1Wjl6yS6X8eJsxJklFzjz/Nby/+L/MAGyfGLqs+TgjRAQBrWOlU4sh038AFzXBE349REc+g5j8GbxvSL4M9fMD88hIyDkBM/oVV5mztlXUTSgqaKppYP3uM9ymj8F6NInQnf8InppyMSpRn/k4e1vNDFWWOG4SnjattJPgH0y8044dEDeIl05FjIiuxrmbHY8Fe6zNmdLNdjn45uM4Ljd3Py4nVhNQ8Am8/AL4BG5HOJWA/s/OOWXW5GJ8Ox6oAWK0eCGjkZbRvuY9Y+UBOkx2r6Vd/gBU0t6qjt132nXuV7LZ5YR9JhyVmMwcYybwslya5EQhzPdzHAnGzRQzhFDhE7NzsZDJ/pWpgTz/PFQV0xlUE54R6exwRZaj4tPphMcfk7z0LpdMQ3ml9mGRHYf1JFHR0l+7eLfdJuKqflH6XxcVXesp5l8
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: cloudflare
spec:
  acme:
    email: baskski@gmail.com
    server: https://acme-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: cloudflare-tls
    solvers:
    - dns01:
        cloudflare:
          apiTokenSecretRef:
            name: cloudflare
            key: token
