cainjector:
  resources:
    requests:
      cpu: 10m
      memory: 150Mi
crds:
  enabled: true
global:
  leaderElection:
    namespace: cert-manager
prometheus:
  servicemonitor:
    enabled: true
resources:
  requests:
    cpu: 10m
    memory: 150Mi
webhook:
  resources:
    requests:
      cpu: 10m
      memory: 80Mi
