apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: longhorn
  namespace: longhorn-system
spec:
  parentRefs:
  - name: envoy
    namespace: envoy-gateway
  hostnames:
  - longhorn.cecobask.com
  rules:
  - backendRefs:
    - name: longhorn-frontend
      port: 80
