apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: media
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/cecobask/homelab.git
    path: kubernetes/media
    targetRevision: HEAD
  destination:
    name: in-cluster
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
