kind: PersistentVolume
apiVersion: v1
metadata:
  name: sonarr
spec:
  accessModes:
  - ReadWriteOnce
  capacity:
    storage: 5Gi
  csi:
    driver: csi.proxmox.sinextra.dev
    volumeHandle: homelab/pve2/local-lvm/vm-9999-sonarr
  storageClassName: proxmox-retain
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: sonarr
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: proxmox-retain
  volumeName: sonarr
