cluster:
  network:
    cni:
      name: none
  proxy:
    disabled: true
  extraManifests:
  - https://github.com/kubernetes-sigs/gateway-api/releases/download/v1.3.0/standard-install.yaml
machine:
  install:
    disk: /dev/sda
    image: ${INSTALLER_URL}
  network:
    hostname: ${HOSTNAME}
    nameservers:
    - 1.1.1.1
    - 8.8.8.8
  certSANs:
  - ${LOAD_BALANCER_IP}
