apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: radarr
spec:
  parentRefs:
  - name: envoy
    namespace: envoy-gateway
  hostnames:
  - radarr.cecobask.com
  rules:
  - backendRefs:
    - name: radarr
      port: 80
