cgroup:
  autoMount:
    enabled: false
  hostRoot: /sys/fs/cgroup
envoy:
  resources:
    requests:
      cpu: 10m
      memory: 64Mi
hubble:
  enabled: false
ipam:
  mode: kubernetes
l2announcements:
  enabled: true
kubeProxyReplacement: true
k8sServiceHost: localhost
k8sServicePort: 7445
operator:
  resources:
    requests:
      cpu: 10m
      memory: 128Mi
resources:
  requests:
    cpu: 60m
    memory: 320Mi
securityContext:
  capabilities:
    ciliumAgent:
    - CHOWN
    - KILL
    - NET_ADMIN
    - NET_RAW
    - IPC_LOCK
    - SYS_ADMIN
    - SYS_RESOURCE
    - DAC_OVERRIDE
    - FOWNER
    - SETGID
    - SETUID
    cleanCiliumState:
    - NET_ADMIN
    - SYS_ADMIN
    - SYS_RESOURCE
tls:
  secretsNamespace:
    create: false
    name: cilium
