apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: argocd
  namespace: argocd
spec:
  parentRefs:
  - name: envoy
    namespace: envoy-gateway
  hostnames:
  - argocd.cecobask.com
  rules:
  - backendRefs:
    - name: argocd-server
      port: 80
