apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- httproute.yaml
- namespace.yaml
helmCharts:
- repo: https://argoproj.github.io/argo-helm
  name: argo-cd
  version: 9.0.5
  releaseName: argocd
  namespace: argocd
  valuesFile: values.yaml
