apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd
resources:
- namespace.yaml
helmCharts:
- repo: https://argoproj.github.io/argo-helm
  name: argo-cd
  version: 9.0.5
  releaseName: argocd
  valuesFile: values.yaml
  apiVersions:
  - monitoring.coreos.com/v1
