applicationSet:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
configs:
  cm:
    application.instanceLabelKey: argocd.argoproj.io/instance
    application.resourceTrackingMethod: annotation+label
    kustomize.buildOptions: --enable-helm
  params:
    server.insecure: true
controller:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
dex:
  enabled: false
global:
  image:
    repository: quay.io/argoproj/argocd
    tag: v3.1.9
notifications:
  enabled: false
redis:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
repoServer:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
server:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
