applicationSet:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
configs:
  cm:
    application.instanceLabelKey: argocd.argoproj.io/instance
    application.resourceTrackingMethod: annotation+label
    kustomize.buildOptions: --enable-helm
  params:
    controller.diff.server.side: true
    server.insecure: true
controller:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
dex:
  enabled: false
notifications:
  enabled: false
redis:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
repoServer:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
server:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
