applicationSet:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
  resources:
    requests:
      cpu: 10m
      memory: 50Mi
configs:
  cm:
    accounts.readonly: apiKey
    application.instanceLabelKey: argocd.argoproj.io/instance
    application.resourceTrackingMethod: annotation+label
    kustomize.buildOptions: --enable-helm
  params:
    controller.diff.server.side: true
    server.insecure: true
  policy.csv: "g, readonly, role:readonly"
controller:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
  resources:
    requests:
      cpu: 400m
      memory: 700Mi
dex:
  enabled: false
notifications:
  enabled: false
redis:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
  resources:
    requests:
      cpu: 10m
      memory: 50Mi
repoServer:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
  resources:
    requests:
      cpu: 150m
      memory: 200Mi
server:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
  resources:
    requests:
      cpu: 20m
      memory: 150Mi
