cluster:
  network:
    cni:
      name: flannel
    podSubnets:
      - 10.244.0.0/16
    serviceSubnets:
      - 10.96.0.0/12
machine:
  install:
    disk: /dev/sda
    image: ${installer_url}
  network:
    hostname: ${hostname}
  kubelet:
    nodeIP:
      validSubnets:
        - 100.64.0.0/10
