apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: grafana
  namespace: grafana
spec:
  refreshInterval: 24h
  secretStoreRef:
    name: bitwarden
    kind: ClusterSecretStore
  data:
  - secretKey: password
    remoteRef:
      key: fd6e4c37-d958-4af4-82c9-b3b80162edff
  - secretKey: user
    remoteRef:
      key: 57ef4dce-9aac-4988-8d92-b3b80162d367
